html {
  font-size: $font-size;
}

body {
  @include centerize;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

body.light {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
body.dark {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.game-container {
  @include centerize;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.minesweeper {
  display: grid;
  grid-template-columns: repeat($grid-size, 1fr);

  gap: 0.5%;
  border: 0.5vmin solid $border-color;
  padding: 1rem;
  background-color: $minesweeper-bg-color;
  border-radius: 1rem;
  width: 65vmin;
  height: 65vmin;
  cursor: url('../assets/images/boot.png'), auto;
}

.control {
  @include centerize;
  font-weight: bold;
  color: $border-color;
  font-size: 3.5rem;
}

.controls-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cell {
  background-color: $cell-bg-color;
  @include centerize;
  user-select: none;
  border-radius: 0.15rem;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;

  &:hover {
    background-color: $cell-hover-bg-color;
  }
}

.mine,
.number {
  width: 100%;
  height: 100%;
  @include centerize;
}

.mine {
  background-color: $mine-bg-color;
  color: $mine-color;
}

.number {
  background-color: $number-bg-color;
  color: $number-color;
}

.cell-content {
  font-size: 200%;
  position: absolute;
}

.flag {
  background-image: url('../assets/images/flag-icon.png');
  background-size: cover;
}

.restart-button {
  @include centerize;
  font-size: 5em;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.button-emoji {
  height: 100%;
  width: 100%;
}

.difficulty-select,
.mines-input {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 0.5rem;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  background-color: $minesweeper-bg-color;
  color: $border-color;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    border-color: darken($border-color, 15%);
    box-shadow: 0 0 0.5rem rgba($border-color, 0.5);
  }

  &:focus {
    outline: none;
    border-color: darken($border-color, 30%);
    box-shadow: 0 0 0.7rem rgba($border-color, 0.7);
  }
  &:disabled {
    background-color: white;
    color: rgba(0, 0, 0, 0.301);
  }
}

.mines-input {
  width: 4rem;
}
